.formGroup {
  margin-bottom: var(--spacing-medium);
  width: 100%;
}

.formGroup label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

.error {
  color: var(--color-danger-text);
  background-color: var(--color-danger-bg);
  padding: 10px;
  border-radius: var(--border-radius-medium);
  margin-bottom: var(--spacing-medium);
  text-align: center;
}